.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.messages{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}
.rigth{
    width:50%;
    align-self:center;
}
.left{
    width: 50%;
    align-self: flex-start; 
}
.input_wrap{

}
.message_form input{
    padding: 10px;
    width: 70%;
}
.message_form button{
    padding: 10px;
}

