.header_wrap{
    margin: 0 auto;
    grid-area: h;
    padding:10px 20px;
    width: 95%;
    box-shadow: 0px 10px 13px -7px #2e2d2d, 5px 5px 15px 5px rgba(255,255,255,0);
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
}
.header_img{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
